ol,
ul {
  list-style: none;
}

.contact_list li a:hover {
  color: rgb(22, 22, 163);
}

.contact_list li a {
  color: black;
}
.contact_list li .svg-inline--fa.fa-w-18,
.contact_list li .svg-inline--fa.fa-w-16,
.contact_list li .svg-inline--fa.fa-w-14 {
  width: 5%;
  padding-right: 5px;
}

.myphoto {
  width: 90%;
  top: 30px;
  position: relative;
}

.contact_container {
  display: grid;
  background: #ffffffeb;
  margin-top: 30px;
  padding: 20px 0;
  border-radius: 10px;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-content: center;
  padding: 5%;
  height: calc(100vh - 200px);
}

.contact_container div h5 {
  font-size: 1.3rem;
  text-align: center;
}

.contact_container div p {
  font-size: 1.1rem;
  text-align: center;
}

.wrapper {
  background-image: url(../../assets/back4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 100vh;
}

.contact_list li {
  font-weight: 700;
  color: black;
  padding: 5px 0;
}
